.sidebarContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
}

@media only screen and (min-width: 600px) {
  .sidebarContainer {
    flex: 0.8;
  }
}

@media only screen and (min-width: 1000px) {
  .sidebarContainer {
    flex: 0.5;
  }
}

h2 {
  cursor: pointer;
}

h2:hover {
  text-decoration: underline;
}

.selected {
  text-decoration: underline;
}

.tabTitles {
  display: flex;
  width: 100%;
  padding: 20px 10px;
}

.tabTitles > * {
  flex: 1;
}

