.container {
  text-align: center;
  height: 100%;
  width: 100%;
}

.logo {
  width: clamp(100px, 30%, 150px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 0 5vw;
}
